<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid bg-light">
        <div class="containeer text-center p-5">
            <h2>Greenply Foundation</h2>
            <hr class="mt-0">
            <p>At Greenply Foundation, we strive to bring about a positive change
                in the society as we tackle widespread issues such as health, education
                and skill development. Laying emphasis on environmental sustainability 
                as well, our focus extends across all-round development of both nature and mankind.
            </p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container text-center p-5">
            <h2>Healthcare Initiative</h2>
            <hr>
            <p>Under the Greenply Foundation, healthcare is recognized as a segment that 
                requires attention. We decided to take necessary steps to address this issue
                 by providing requisite healthcare support to bring about a change in the
                  lives of people around us.
            </p>
        </div>

        <div class="container-fluid text-center d-flex">
            <div class="jumbotron-fluid p-3 float-left">
                <img src="\assets\greenplyfoundationvan.png" alt="greenplyfoundationvan">
            </div>
            <div class="jumbotron-fluid p-3 float-right text-left">
                <h4>Healthcare Project through Mobile Medical Van (MMV)</h4>
                <hr class="container_hr">
                <p>An ongoing healthcare project undertaken by us through Mobile Medical Van (MMV)
                    in the nearby villages of Tizit, Dist.- Mon, Nagaland provides basic diagnostic, 
                    medicine, curative, referral and counselling services to the rural population. 
                    The initiative aims to improve the access to medical services in the remote areas
                     and bring awareness among the community towards healthy and hygienic living.
               </p>
            </div>
        </div>
        <div class="jumbotron p-0 text-center bg-white">
            <img src="\assets\greenplyfoundationvan.png" alt="greenplyfoundationvan">
            <img src="\assets\camp1.jpg" alt="greenplyfoundation">
            <img src="\assets\camp2.jpg" alt="greenplyfoundation">
            <img src="\assets\camp4.jpg" alt="greenplyfoundation">
        </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>
