.nav{
    margin-left: 20%;
    margin-right: 20%;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    position: relative;
    margin-bottom: 5px;
}

.tab-content{
    background-color: blanchedalmond;
}

.btn  {
    border-radius: 0px;
    outline: none;
}

img{
    min-width: 360px;
}

.col {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}