<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box p-5">
        <div class="container text-center p-5 border border-primary rounded">
            <h2>Company Management</h2>
            <hr>
            <p>It requires smart minds and dynamic personalities to build a team
                 with great management skills. Greenply is fortunate to have such 
                 individuals under one roof, which has given rise to an iconic brand 
                 in the plywood industry. Meet the team that is responsible for the
                  widespread success of the brand.
            </p>
        </div>
    </div>
    <div class="container-fluid d-flex p-4">
        <span>
            <img src="\assets\milestone\mittal.png" alt="mittal">
        </span>
        <span class="pl-3">
            <h3>Rajesh Mittal</h3>
            <h6>Chairman Cum Managing Director</h6>
            <p>Mr. Rajesh Mittal, the Managing Director of Greenply Industries Limited (GIL), 
                is popularly known as the plywood manufacturing baron of India, and there are 
                legitimate reasons behind giving this influential personality the name. With a 
                leadership foresight and strategic management, Rajesh Mittal has carved out an 
                unprecedented growth path for Greenply. Since 1984, he has been working towards 
                spreading the company’s wings in different pockets of India and abroad including 
                Myanmar and Gabon, Africa. Today, Greenply enjoys the largest market share amongst 
                the organized players along with the title of India’s No.1 manufacturer offering a 
                comprehensive range of plywood, blockboard, decorative veneer, flush door, PVC board 
                & doors as well as other specialized application products.Apart from being a man 
                of policy and performance, Mr. Mittal is simple and grounded. With his humble nature,
                 he addresses his peers as well as his employees in the organization – a true man of 
                 the people.
            </p>
        </span>
    </div>

    <div class="container-fluid d-flex p-4">
        <span>
            <h3>Sanidhya Mittal</h3>
            <h6>Joint Managing Director</h6>
            <p class="pr-3">Sanidhya Mittal’s journey with Greenply Industries Limited started in the year 2012, 
                when he decided to dedicate his time and energy to the enterprise at the very grassroots. 
                He focused on the factory floor, learning about the manufacturing process and the 
                technical features of products, not to mention various other quality tests which 
                allowed him to receive a deeper understanding of the fundamentals of the business. 
                Since 2017, he has taken the mantle of the business. His vision focuses on making 
                Greenply a brand leader in its category, and one of the best places to work.
            </p>
        </span>

        <span class="pl-2">
            <img src="\assets\milestone\Sanidhya_Mittal.png" alt="mittal">
        </span>
    </div>

    <div class="container-fluid d-flex p-4">
        <span>
            <img src="\assets\milestone\DSC_0450.png" alt="mittal">
        </span>
        <span class="pl-3">
            <h3>Manoj Tulsian</h3>
            <h6>Joint Managing Director & CEO</h6>
            <p>Known for his experience across categories, Mr Manoj Tulsian is highly regarded for 
                his out of box solutions. Honoured with the Brand Slam CFO Award in 2017, he is a 
                regular speaker at the CFO forum while also speaking on subjects such as Infrastructure 
                and EPC business. With his multi-faceted experience in the past on brands such as Kalpataru, 
                VIP industries and Gabriel India Ltd, he intends to take the business to new heights. 
            </p>
        </span>
    </div>

    <div class="container-fluid d-flex p-4">
        <span>
            <h3>Subir Palit</h3>
            <h6>Country Head</h6>
            <p class="pr-3">Mr. Subir Palit, the Country Head forms the backbone of the organization. 
                He drives cross-functional teams across sales, supply chain, finance, trade & marketing. 
                He is responsible for the development of channel management along with customer development 
                strategy, targeted at driving sustainable growth for the organization. His zeal to explore new 
                domains has made him a prominent member of the organization.
            </p>
        </span>

        <span class="pl-2">
            <img src="\assets\milestone\Screenshot_2019-09-05_at_1.41.40_PM.png" alt="mittal">
        </span>
    </div>
</body>
</html>
<router-outlet></router-outlet>