body{
    background-image: url("https://community.adobe.com/legacyfs/online/1439240_shaded%20website%20page%20sample.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  hr {
      width: 30%;
      position: relative;
      border: none;
      height: 1px;
      background: #164620;
      margin-top: -3px;
  }
  p{
      color: black;
      font-size: 1rem;
  }
  h3{
    color: #164620;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
  }
  
  h6 {
    color: #ff0000;
    font-size: 1.1rem;
    font-family: 'Titillium Web', sans-serif;
  }
  
  
  
  