
<div class="d-flex p-3">
  <div class="pl-3">
   <a href="#">
     <img src="..\assets\greenply-logo.png" alt="Title_Logo" >
   </a>
  </div>
  <div class="p-4 w-100 d-flex justify-content-end" id="header">
    <a href="#"><i class="fa fa-phone pr-3" aria-hidden="true"></i>1800-568-9471</a>
    <a href="#"><i class="fa fa-search pl-3" aria-hidden="true"></i></a>
  </div>
</div>

<!-- Navbar -->
<div class="navbar navbar-expand-sm">
  <a routerLink="/home">Home</a> 
  <div class="subnav">
    <button class="subnavbtn">About Us</button>
    <div class="subnav-content">
      <a routerLink="/milestone">Milestones</a>
      <a routerLink="/awardscertifications">Awards&Certifications</a>
      <a routerLink="/management">Management</a>
      <a routerLink="/csr">CSR</a>
      <a routerLink="/careers">Careers</a>
      <a routerLink="/investors">Investors</a>
      <a routerLink="/environmentalsustainability">EnvironmentalSustainability</a>
    </div>
  </div> 

  <div class="subnav">
    <button class="subnavbtn">Products</button>
    <div class="subnav-content">
      <a routerLink="#link1">
        <ul class="m-0 p-0">
          <li>
            <a routerLink="" style="font-size: 1.2rem; font-weight: bold;">Plywood&Blackboard</a>
          </li>
          <li>
            <a routerLink="">Green</a>
          </li>
          <li>
            <a routerLink="">Optima G</a>
          </li>
          <li>
            <a routerLink="">Ecotec</a>
          </li>
          <li>
            <a routerLink="">Jansathi</a>
          </li>
          <li>
            <a routerLink="">Bharosa Ply</a>
          </li>
        </ul>
      </a>
      <a routerLink="#link2">
        <ul class="m-0 p-0">
          <li>
            <a routerLink="" style="font-size: 1.2rem; font-weight: bold;">Doors</a>
          </li>
          <li>
            <a routerLink="">Green</a>
          </li>
          <li>
            <a routerLink="">Optima G</a>
          </li>
          <li>
            <a routerLink="">Ecotec</a>
          </li>
        </ul>
      </a>

      <a routerLink="#link2">
        <ul class="m-0 p-0">
          <li>
            <a routerLink="" style="font-size: 1.2rem; font-weight: bold;">Decorative Veneers</a>
          </li>
          <li>
            <a routerLink="">Wood Crests</a>
          </li>
          <li>
            <a routerLink="">Royal Crown</a>
          </li>
          <li>
            <a routerLink="">Kohl Forest</a>
          </li>
          <li>
            <a routerLink="">Burma Teak</a>
          </li>
          <li>
            <a routerLink="">Engineered Veneers</a>
          </li>
        </ul>
      </a>

      <a routerLink="#link2">
        <ul class="m-0 p-0">
          <li>
            <a routerLink="" style="font-size: 1.2rem; font-weight: bold;">PVC Products</a>
          </li>
          <li>
            <a routerLink="">Green Ndure Boards</a>
          </li>
          <li>
            <a routerLink="">Green Ndure Doors</a>
          </li>
        </ul>
      </a>

      <a routerLink="#link2">
        <ul class="m-0 p-0">
          <li>
            <a routerLink="" style="font-size: 1.2rem; font-weight: bold;">Speciality Plywood</a>
          </li>
          <li>
            <a routerLink="">Compressed Wood Plate</a>
          </li>
          <li>
            <a routerLink="">Cali Form Plywood</a>
          </li>
        </ul>
      </a>

    </div>
  </div>


  <div class="subnav">
    <button class="subnavbtn">Media</button>
    <div class="subnav-content">
      <a routerLink="/blogs">Blogs</a>
      <a routerLink="/campaigns">Campaigns</a>
    </div>
  </div>

  <div class="subnav">
    <button class="subnavbtn">Downloads</button>
    <div class="subnav-content">
      <a routerLink="/engineeredveneers">Engineered Veneers</a>
      <a routerLink="/woodcrrests">Wood Crrests</a>
    </div>
  </div>

  <a routerLink="/contactus" class="m-0">Contact Us</a> 
  <a routerLink="/privacypolicy" class="m-0">Privacy Policy</a>
  
  <div class="nav login">
    <div class="nav-item">
      <a routerLink="/signin" class="nav-link">SignIn</a>
    </div>
    <div class="nav-item">
      <a routerLink="/signup" class="nav-link">SignUp</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
