<div class="container-fluid footer nav bg-secondary justify-content-center">
    <div class="nav-item m-2 p-3">
      <h4 class="pl-3">About Us</h4>
      <a href="#" class="nav-link">Milestones</a>
      <a href="#" class="nav-link">Awards & Certifications</a>
      <a href="#" class="nav-link">Management</a>
      <a href="#" class="nav-link">CSR</a>
      <a href="#" class="nav-link">careers</a>
      <a href="#" class="nav-link">investors</a>
      <a href="#" class="nav-link">Environmental Sustainability</a>
    </div>
    <div class="nav-item  m-2 p-3">
      <h4 class="pl-3">Products</h4>
      <a href="#" class="nav-link">Plywood & Blockboard</a>
      <a href="#" class="nav-link">Door</a>
      <a href="#" class="nav-link">Decorative Veneers</a>
      <a href="#" class="nav-link">Pvc Products</a>
      <a href="#" class="nav-link">Speciality Plywood</a>
    </div>
    <div class="nav-item  m-2 p-3">
      <h4 class="pl-3">Media</h4>
      <a href="#" class="nav-link">Blogs</a>
      <a href="#" class="nav-link">campaings</a>
      <a href="#" class="nav-link">press</a>
    </div>
    <div class="nav-item  m-2 p-3 font-weight-bold">
      <h4 class="pl-3">Contact Us</h4>
      <a href="#" class="nav-link">privacy policy</a>
      <a href="#" class="nav-link">disclaimer</a>
    </div>
    <div class="nav-item m-3 p-3" id="social_icons">
      <a href="https://www.facebook.com/login/" target="_blank" class="m-1 rounded p-2 text-center"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://twitter.com/PakalaSrikanth4" target="_blank" class="m-1 rounded p-2 text-center"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/pakala_srikanth/" target="_blank" class="m-1 rounded p-2 text-center"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://github.com/srikanthpakala/" target="_blank" class="m-1 rounded p-2 text-center"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/pakalasrikanth/" target="_blank" class="m-1 rounded p-2 text-center"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
    <div class="container text-center mt-5 font-weight-bold text-white">
      <p>© Copyright Greenply Plywood 2020-21. All rights reserved.</p>
    </div>
</div>
