<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src=".\assets\Home_images\Website-Banner.jpg" alt="New York" width="100%" height="100%">
            </div>
          <div class="carousel-item active">
            <img src=".\assets\Home_images\new-hombanner.jpg" alt="Los Angeles" width="100%" height="100%">
          </div>
          <div class="carousel-item">
            <img src=".\assets\Home_images\banner.jpg" alt="Chicago" width="100%" height="100%">
          </div>
        </div>
    </div>
</body>
<app-footer></app-footer>
</html>