<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid pt-3 pb-4">
        <div class="text-center mt-1 p-4 border border-danger" id="milestone-content">
            <h2>Our milestones</h2>
            <hr class="mt-0">
            <p>The goal to reach the top is the reason why Greenply stands where
                it does today. What most see at a glance is the result of hard work
                and sincere efforts over a prolonged period of time. Reaching the 
                top is no easy feat, but we are now recognized as one of India’s leading 
                brands that offer home décor solutions.
            </p>
        </div>
    </div>
    <!-- flip cards -->
    <div class="container-fluid p-4 ">
        <div class="flip-card m-1">
            <div class="flip-card-inner">
              <div class="flip-card-front p-4">
                <h1>1984</h1>
                <img src="\assets\1984.png" alt="Avatar" style="width:200px;height:180px;">
              </div>
              <div class="flip-card-back p-5 bg-danger">
                <p>Mr. Rajesh Mittal took the first step towards the introduction 
                  of plywood industries in India by setting up a saw-mill.
                </p>
              </div>
            </div>
        </div>
        <div class="flip-card m-1">
            <div class="flip-card-inner">
              <div class="flip-card-front p-4">
                <h1>1995</h1>
                <img src="\assets\1988.png" alt="Avatar" style="width:200px;height:180px;">
              </div>
              <div class="flip-card-back p-5 bg-secondary">
                <p>The equity shares of the company were listed and put up for sale.</p>
              </div>
            </div>
        </div>
        <div class="flip-card m-1">
            <div class="flip-card-inner">
              <div class="flip-card-front p-4">
                <h1>1996</h1>
                <img src="\assets\1996.png" alt="Avatar" style="width:200px;height:180px;">
              </div>
              <div class="flip-card-back p-5 bg-warning">
               <p>The organization was renamed as
                Greenply Industries Ltd.</p>
              </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-4 ">
      <div class="flip-card m-1">
          <div class="flip-card-inner">
            <div class="flip-card-front p-4">
              <h1>2015</h1>
              <img src="\assets\awards-2015.png" alt="Avatar" style="width:200px;height:180px;">
            </div>
            <div class="flip-card-back p-5 bg-info">
              <p>Introduction of Ask Greenply, Greenply's first consumer-facing platform.</p>
            </div>
          </div>
      </div>
      <div class="flip-card m-1">
          <div class="flip-card-inner">
            <div class="flip-card-front p-4">
              <h1>2019</h1>
              <img src="\assets\awards-2019.png" alt="Avatar" style="width:200px;height:180px;">
            </div>
            <div class="flip-card-back p-5 bg-success">
              <p>Launch of the Green Club 5 Hundred, the plywood comes with anti bacterial coating.</p>
            </div>
          </div>
      </div>
      <div class="flip-card m-1">
          <div class="flip-card-inner">
            <div class="flip-card-front p-4">
              <h1>2020</h1>
              <img src="\assets\products\product_Keyfeatures\icon_ZERO-EMISSION (1).png" alt="Avatar" style="width:200px;height:180px;">
            </div>
            <div class="flip-card-back p-5 bg-primary">
              <p>A range of E0 plywood got introduced such as Green Club Plus Seven Hundred, 
                Green Club 500 and Green Gold Platinum which is CARB certified as well.</p>
            </div>
          </div>
      </div>
  </div>

</body>
<app-footer></app-footer>
</html>
<router-outlet></router-outlet>