<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid p-5">
        <div class="container  mt-1 p-4">
            <h2 class="text-center">Awards</h2>
            <hr>
            <p>Hard work always pays off. We at Greenply abide by this principle,
                thereby rightfully earning rewards for our excellent performance
                in the plywood industry of India.
            </p>
        </div>
    </div>
    <div class="container-fluid bg-white p-5 justify-content-center" id="cards">
        <div class="jumbotron bg-white p-5" id="jumbotron">
            <p class="mr-5">2021 - Certified as Great Place To Work second time in a row!</p>
            <img src="\assets\work_place.jpg" alt="work_place">
        </div>

        <div class="jumbotron d-flex bg-white p-5" id="jumbotron">
            <img src="\assets\Certificate_1.jpg" alt="work_place">
            <p class="ml-5">2021 Greenply Industries Limited (GIL) Awarded with Prestigious FSC®
                 Certification in forest management, the first in the panel industry.</p>
        </div>

        <div class="jumbotron d-flex bg-white p-5" id="jumbotron">
            <p class="mr-5">2020 Green Gold Platinum & Wood Crrest Platinum are CARB certified.</p>
            <img src="\assets\awards-2020-carb.png" alt="work_place">
        </div>

        <div class="jumbotron d-flex bg-white p-5" id="jumbotron">
            <img src="\assets\awards-2019.png" alt="work_place">
            <p class="ml-5">2019 Received an award by Economic Times for the Best Brand of 2019 in the 
                plywood manufacturing category.</p>
        </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>
