<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container p-5">
        <div class="jumbotron p-0 row">
            <ul class="nav nav-pills w-100 ">
                <li class="nav-item justify">
                  <a class="nav-link pt-1 pb-1 active" data-toggle="pill" href="#home">Corporate Office</a>
                </li>
                <li class="nav-item justify">
                  <a class="nav-link pt-1 pb-1" data-toggle="pill" href="#menu1">Branch Office</a>
                </li>
                <li class="nav-item justify">
                  <a class="nav-link pt-1 pb-1 " data-toggle="pill" href="#menu2">Factories</a>
                </li>
            </ul>
            
              <!-- Tab panes -->
            <div class="tab-content p-1 bg-white">
                <div id="home" class="container-fluid tab-pane active"><br>
                  <h6>GREENPLY INDUSTRIES LIMITED</h6>
                  <hr>
                  <address>
                        Madgul Lounge
                      <br>
                        5th & 6th Floor
                      <br>
                        23 Chetla Central Road
                      <br>
                        Kolkata - 700027
                      <br>
                        West Bengal
                  </address>
                  <p>For any feedback or suggestions please write to us on <strong>marketing.ply@greenply.com</strong></p>
                  <p>Phone: +91 033 2450 0400</p>
                  <p>Toll Free No.: 1800-103-4050</p>
                  <p>Fax: +91 33 30515010</p>
                </div>
                <div id="menu1" class="container-fluid tab-pane fade">
                  <br>
                    <h5>Delhi</h5>
                    <h6>Delhi, Gurgaon</h6>
                    <hr>
                    <p>Greenply Industries Limited</p>
                    <p>Greenply Industries Ltd, 502, 5th Floor, Sahyog Building, Building No. 58, Nehru Place, New Delhi 110019</p>

                    <h5>Rajasthan</h5>
                    <h6>Jaipur, Jodhpur, Udaipur</h6>
                    <hr>
                    <p>Greenply Industries Ltd.</p>
                    <p>Greenply Industries Ltd, A 4/2 Ganesh Marg Hawa Sarak Civil Lines, Jaipur, Rajasthan 302019</p>

                    <h5>WEST BENGAL</h5>
                    <h6>Kolkata, Howrah, Durgapur, Siliguri</h6>
                    <hr>
                    <p>Greenply Industries Ltd.</p>
                    <p>16,A Shakespare Sarani, New Bk Market 2nd Floor, Kolkata 700 071</p>

                    <h5>ASSAM</h5>
                    <h6>Tinsukia</h6>
                    <hr>
                    <p>Greenply Industries Ltd.</p>
                    <p>Makum Road, Tinsukia, Assam 786146</p>


                    <h5>UTTAR PRADESH</h5>
                    <h6>Patna</h6>
                    <hr>
                    <p>Greenply Industries Ltd.</p>
                    <p>205, Kamlalaye Shobha Plaza, Behind Reserve Bank Of India, Exhibition Road, Patna 800001</p>
                </div>
                <div id="menu2" class="container-fluid tab-pane fade">
                  <br>
                    <h5>KOLKATA</h5>
                    <hr>
                    <h6>Greenply Industries Limited</h6>
                    <p>Village Kriparampur P.O. Sukdevpur, Dist. 24 Parganas (South), West Bengal 743503</p>

                    <br>

                    <h5>GUJRAT</h5>
                    <hr>
                    <h6>Greenply Industries Limited (License Code Fsc® C081675)</h6>
                    <p>Plot No. 910 913 & 1003 1005, Adjoining 16mt Dead End Road, Gidc Estate Bamanbore, Surendranagar 363520</p>

                    <br>

                    <h5>NAGALAND</h5>
                    <hr>
                    <h6>Greenply Industries Limited</h6>
                    <p>Po Tizit, District Mon Nagaland 798602</p>

                    <br>

                    <h5>WEST AFRICA</h5>
                    <hr>
                    <h6>Greenply Industries Limited</h6>
                    <p>Greenply Gabon Sa, Parcel C 13, Nkok Sez, Bp 1024, Libreville, Gabon, West Africa</p>
                </div>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>
</html>