
.container {
    font-family: 'Titillium Web', sans-serif;
    width: 40%;
    align-items: center;
}

#jumbotron {
    border-radius: 0px;
}
.nav {
    background-color: #0d5a2e;
}

.nav  .nav-link{
    font-size: 1.2rem;
    border-radius: 0px;
    padding-right: 37px;
    position: relative;
    color: white;
}

h6,h5 {
    color: #0d5a2e;
    font-weight: bold;
}

p{
    color: black;
}

hr {
    background-color: #0d5a2e;
    margin-top: -5px;
}

#menu1, #menu2 {
    overflow-y: scroll;
    height: 385px;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(206, 206, 206);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0d5a2e;
    border-radius: 5px;
  }