<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid p-5 text-center">
        <h2>Careers</h2>
        <hr>
    </div>
    <div class="jumbotron text-center mb-0 pb-4">
        <div class="jumbotron bg-white d-block" id="jumbotron">
            <h3>We are on the lookout for passionate individuals who can take Greenply 
                to greater heights.</h3>
            <h3>
                If you think you can contribute to our success story then mail us your updated CV at.
                <a href="#">recruitments@greenply.com</a>
            </h3>
            <h3>We will get back to you in case there's a relevant opening.</h3>
        </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>