<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid p-5">

        <h2>Privacy Policy</h2>
        <hr style="width: 14%;">
        <p>We are committed to protect the privacy of any person who visits and 
            accesses our website. The following policy apprises you, the visitor, 
            as to how we seek to protect the privacy of any visitor to our website.
        </p>

        <h2>Personal Information</h2>
        <hr style="width: 21%;">
        <p>Our website does not collect personal information about a visitor unless the
             visitor discloses the same to us voluntarily by filling the contact forms provided on our website. Personal information in this case means any information from which a visitor’s identity is apparent and/or can be ascertained or determined easily. Personal information may mean and include name, e-mail address, residence or office addresses, telephone numbers.</p>
        <p>When you voluntarily provide us with your personal information through the contact form provided on our website, we use it only for the fulfillment of your requests and/or in order to answer your enquiry.</p>
        <p>We may contact you via the email address or the telephone numbers disclosed to us in the future to update you about our products, unless you specifically request us not to do so.</p>
        <p>Your personal information is not disclosed to a third party, unless the same is necessary for the fulfillment of your request.</p>


        <div>
            <h2>Automatic Collection of Data and Usage Thereof</h2>
            <hr style="width: 40%;">
            <p>Our website server automatically collects certain browsing data of any person that visits our website to track and monitor usage of the website and to enhance the performance of the website for improved end user experience. Such data shall be solely for the use of Greenply Industries Limited and may include:</p>
            <ul>
                <li>The Internet Protocol address or the domain name of the internet service provider from which our website is accessed</li>
                <li>Data and time when our site was accessed</li>
                <li>Duration of the usage</li>
                <li>The type and version of the operating system and web browser of the machine from which our website is being accessed</li>
                <li>Selection of pages or sections of the website visited</li>
                <li>The documents downloaded from the website</li>
                <li>The Internet address of the website visited just prior to our website</li>
            </ul>
            <p>The browsing and server data as aforesaid may be accessed by a third party who has been appointed by us for maintenance and administration of the website. However, in doing so, we do not disclose any personal information or the identity of a visitor to such third party. Any third party appointed by us has to comply with the above data protection standards.</p>
        </div>
        <div>
            <h2>Collection of Information by Third-Party Sites</h2>
            <hr style="width: 40%;">
            <p>Our website may contain advertisements and/or links to other websites. We do not exercise any authority or control over the privacy policy of such external website. Any visitor which follows a link from our website must independently confirm and be aware of the privacy policy and/or security of the external site as the privacy policy of such other website may be completely different from that of ours. We are not liable for the privacy policy of any such external websites whose links are provided on our website.</p>
        </div>
    
        <div>
            <h2>Cookies</h2>
            <hr style="width: 5%;">
            <p>We use "cookies" on this site. However, usage of a cookie does not disclose any personal information to our site. A cookie is a piece of data stored on a visitor's computer hard drive that helps improve access to websites that the visitor has already visited. Cookies help identify browsing information.</p>
    
            <p>If you visit our website, information may be saved on your computer by way of these cookies which enable us to identify your computer automatically during your next visit of our homepage. This helps us to improve your browsing experience.</p>
    
            <p>If you do not wish our website to place cookies in your machine, kindly set up your internet browser in a fashion that it deletes cookies or blocks cookies or enables you to identify websites that use cookies.</p>
        </div>
    
        <div>
            <h2>Change in policy</h2>
            <hr style="width: 15%;">
            <p>We may modify and change out Privacy Policy from time to time and you are requested to peruse our privacy policy prior to browsing our website.</p>
        </div>
    
        <div>
            <h2>Confirmation</h2>
            <hr style="width: 12%;">
            <p>Any visitor to our website confirms that they have read and understood our privacy policy in entirety and has visited our website after being satisfied of the same. Browsing our website is an ipso facto acceptance of our terms and conditions.</p>
        </div>


    </div>

    
</body>
<app-footer></app-footer>
</html>
