*{
    font-family: 'Titillium Web', sans-serif;
}
h2{
    color: #0d5a2e;
    text-align: center;
    font-weight: bold;


    animation-name: rotate;
  animation-duration: 0.7s;
  animation-delay: 2s;
}

p, ul li{
    line-height: 40px;
    color: black;
}

hr {
    background-color: #0d5a2e;
    margin-top: 0px;
}
