
*{
    font-family: 'Titillium Web', sans-serif;
}
hr {
    width: 28%;
    position: relative;
    border: none;
    height: 1px;
    background: #164620;
    margin-top: -5px;
}
.container{
    width: 900px;
}

img{
    width: 500px;
}
.Frontiers hr{
    width: 20%;
    position: relative;
    border: none;
    height: 1px;
    background: #164620;
    margin-top: -5px;
}
li{
    line-height: 35px;
}