<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid p-5">
        <h2 class="text-center">Environmental Sustainability</h2>
            <hr>
            <p class="container">The secret to a sustained business achievement lies in the goodwill 
                we earn in the industry and among our customers. For a business that 
                owes its resources to nature, it is important to give back in equal measure. 
                Greenply, however, believes in a two-fold principle – take as little from nature 
                as possible, and give back more. While as much as 97% of Greenply sheets are sourced 
                from plantation timber, we have actively undertaken plantation activities in India. 
                We believe in maintaining ecological harmony, and work tirelessly to achieve the same.
            </p>
    </div>

    <div class="container-fluid p-4">
        <h2 class="text-center">Our Approach Towards Forest Management</h2>
        <hr>
        <br>
        <div class="d-flex">
            <p class="m-3">Greenply is involved in a business that works closely with nature. Working 
                towards sustainability is no longer an option but a necessity. We have developed 
                an Integrated Farm Management Plan/ Manual with an objective of Sustainable Farm 
                Management practices to develop and implement in the project area. The ultimate 
                aim is to promote Farm Forestry in MON district of Nagaland which enhances the 
                quality and livelihood of the local group members associated with the project. 
                The approach towards Forest Management by Greenply recently got recognized and is 
                the only organisation in the panel industry to have been awarded the FSC ® – FM certification.
            </p>
            <img src="\assets\forest.jpg" alt="forest.jpg" class="m-3">
        </div>
    </div>

    <div class="container-fluid p-4 Frontiers" >
        <h2 class="text-center">Entering New Frontiers</h2>
        <hr>
        <br>
        <div class="d-flex">
            <img src="\assets\Entering New Frontiers.jpg" alt="forest.jpg" class="m-3">
            <ul>
                <li>On July 14, 2016, we at Greenply decided to spread our presence to Africa. Holding 
                    a massive 26% market share in the plywood industry of India, we decided to set up a 
                    manufacturing facility at Gabon in West Africa.
                </li>
                <li>- The facility is located at the NKOK- a special economic zone covering an area of 10 hectares, 
                    and is considered to be a sprawling paradise of Okoume face veneers.
                </li>
                <li>
                    - The Greenply unit in Gabon manages the Okoume saw-mill and other hardwood species like Padouk and Tali.
                </li>
                <li>- The unit boasts of being the largest manufacturer of rotary face veneers in Gabon.</li>
                <li>
                    Gabon is the perfect answer to solve issues with ecological imbalance via Sustainable Forest Management.
                </li>
                <li>
                    Greenply is all about building a sustainable operational framework. Our service goes beyond decorating 
                    your living space.We strive to execute our work with finesse along with inculcating values, capacity, 
                    and resources.
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>
